<%= form_for(@order) do |f| %>

<%= render "shared/error_messages", :target => f.object %>

  <div class="field">
    <%= f.label :bill_address %><br>
    <%= f.text_field :bill_address %>
  </div>
  <div class="field">
    <%= f.label :shipp_address %><br>
    <%= f.text_field :shipp_address %>
  </div>
  <div class="actions">
     <%= submit_tag("Done!") %>
  </div>
  
<% end %>
