<h1>Listing orders</h1>
<table> 
  
<% @orders.each do |order| %>
  <tr>
    <%= render order %>
    <td><%= order.customer.name %></td>
    <td><%= order.shipp_address %></td>
    <td><%= order.customer.email %></td>
     </tr>
 <% end %>
 </table>
 <br />
<p><%= will_paginate @orders %></p>