<%= render "shared/notice" %>

<%= render @order %>

<p>Bill address: <%= @order.bill_address %></p>
<p>Ship address: <%= @order.shipp_address %></p>

<p>Status: <%= @order.state %></p>
<p>completed_at: <%= @order.completed_at %></p>

<%= button_to "Proceed", new_address_path(@order.bill_address), method: :get %>
<%= link_to 'Back to store', store_path %>  