<div class="entry">
  <%= image_tag(product.image_url) %>
  <h3><%= link_to product.title, product %></h3>
  <h4>by <%= product.authors.join(',') %></h4>
  <%= sanitize(product.description) %>
  <p>Rating: <%= product.get_rating %></p>
  <div class="price_line">
  <span class="price"><%= number_to_currency(product.price) %></span>
  <% if product.in_stock? %>
    <%= button_to "Add to cart", order_items_path(product_id: product)%>
    <%= product.in_stock %> in stock 
  <% else %>
    <div id="out_of_stock">Out of stock</div>
  <% end %>
  <div id="type"><%= product.types.join(',') %></div>
  </div>
</div>