<!DOCTYPE html>
<html>
<head>
  <title>Depot</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>
  <div id="banner">
    <%= @page_title || "Your Book Shop" %>
  </div>
  <div id="columns">
  	<div id="side">
      <div id = "cart">
        <%= render @order %>
        <%= button_to 'Checkout', @order, method: :get %>
        <%= button_to 'Empty cart', @order, method: :delete, data: { confirm: 'Are you sure' } %>
      </div>
  	  <ul>
  	  	<li><a href=<%= store_path %>>Home</a></li>
  	  	<li><a href="http://www...">Questions</a></li>
  	  	<li><a href="http://www...">News</a></li>
  	  	<li><a href="http://www...">Contact</a></li>
  	  </ul>
      <p><%= @date %></p>
  	</div>
  	<div id="main"> 
      <%= yield %>
  	</div>

  </div>
  

</body>
</html>


