<!DOCTYPE html>
<html>
<head>
  <title>Depot</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>
  <div id="banner">
    <%= @page_title || "Your Book Shop" %>
  </div>
  <div id="columns">
  	<div id="side">
      <div id = "cart">
        <%= render @order %>
        <% unless @order.order_items.empty? %>
        <%= button_to 'Checkout', @current_customer? @order : new_customer_path , method: :get %>
        <%= button_to 'Empty cart', @order, method: :delete, data: { confirm: 'Are you sure' } %>
        <% end %>
      </div>
  	  <ul>
  	  	<li><a href=<%= store_path %>>Home</a></li>
  	  	<li><a href=<%= products_path %>>Products list</a></li>
  	  	<li><a href=<%= order_path(@order) %>>Current order</a></li>
  	  	<li><a href="http://www...">Contact</a></li>
  	  </ul>
      <a><%= "Hi!, #{@current_customer.first_name.capitalize}" if @current_customer %></a></br>
      <%= link_to 'logout', logout_path if @current_customer %>
      <%= render 'sessions/form' if !@current_customer %>
    </div>
  	<div id="main"> 
    <%= render "shared/notice" %>
      <%= yield %>
  	</div>
  </div>
</body>
</html>


